@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Application du thème global */
body {
  background-color: #0B0E14; /* cyna-navy */
  color: #A0A0A0;            /* cyna-text */
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
}

/* Scrollbar personnalisée (Bonus Cyberpunk) */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #0B0E14;
}
::-webkit-scrollbar-thumb {
  background: #1C2128;
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: #00F0FF;
}